.like_box {
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }

  .like_text {
    margin-left: 21px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #616368;
  }
}

